服务器端接收程序/NetwaySDKCSSample/Service References/GuangDaiService/corePlatformWebServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.iotrust.com.cn" name="corePlatformWebServiceImpl" targetNamespace="http://www.iotrust.com.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://www.iotrust.com.cn" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="config" type="tns:config" />
      <xs:element name="doConfig" type="tns:doConfig" />
      <xs:element name="doConfigResponse" type="tns:doConfigResponse" />
      <xs:element name="getVersion" type="tns:getVersion" />
      <xs:element name="getVersionResponse" type="tns:getVersionResponse" />
      <xs:element name="transmitTransparently" type="tns:transmitTransparently" />
      <xs:element name="transmitTransparentlyResponse" type="tns:transmitTransparentlyResponse" />
      <xs:element name="transmitTransparentlyResult" type="tns:transmitTransparentlyResult" />
      <xs:element name="version_response" type="tns:versionResponse" />
      <xs:complexType name="getVersion">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getVersionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:versionResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="versionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transmitTransparently">
        <xs:sequence>
          <xs:element minOccurs="0" name="wscId" type="xs:string" />
          <xs:element name="addr" type="xs:int" />
          <xs:element minOccurs="0" name="hexCommand" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transmitTransparentlyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:transmitTransparentlyResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transmitTransparentlyResult">
        <xs:sequence>
          <xs:element name="result" type="xs:boolean" />
          <xs:element minOccurs="0" name="value" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doConfig">
        <xs:sequence>
          <xs:element minOccurs="0" name="wscId" type="xs:string" />
          <xs:element name="index" type="xs:int" />
          <xs:element name="function" type="xs:int" />
          <xs:element name="value" type="xs:int" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doConfigResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:config" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="config">
        <xs:sequence>
          <xs:element name="result" type="xs:boolean" />
          <xs:element name="value" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="doConfigResponse">
    <wsdl:part name="parameters" element="tns:doConfigResponse" />
  </wsdl:message>
  <wsdl:message name="doConfig">
    <wsdl:part name="parameters" element="tns:doConfig" />
  </wsdl:message>
  <wsdl:message name="getVersion">
    <wsdl:part name="parameters" element="tns:getVersion" />
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="tns:getVersionResponse" />
  </wsdl:message>
  <wsdl:message name="transmitTransparentlyResponse">
    <wsdl:part name="parameters" element="tns:transmitTransparentlyResponse" />
  </wsdl:message>
  <wsdl:message name="transmitTransparently">
    <wsdl:part name="parameters" element="tns:transmitTransparently" />
  </wsdl:message>
  <wsdl:portType name="CorePlatformWebService">
    <wsdl:operation name="getVersion">
      <wsdl:input name="getVersion" message="tns:getVersion" />
      <wsdl:output name="getVersionResponse" message="tns:getVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="transmitTransparently">
      <wsdl:input name="transmitTransparently" message="tns:transmitTransparently" />
      <wsdl:output name="transmitTransparentlyResponse" message="tns:transmitTransparentlyResponse" />
    </wsdl:operation>
    <wsdl:operation name="doConfig">
      <wsdl:input name="doConfig" message="tns:doConfig" />
      <wsdl:output name="doConfigResponse" message="tns:doConfigResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="corePlatformWebServiceImplSoapBinding" type="tns:CorePlatformWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doConfig">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="doConfig">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="doConfigResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transmitTransparently">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="transmitTransparently">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="transmitTransparentlyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="corePlatformWebServiceImpl">
    <wsdl:port name="CorePlatformWebServiceImplPort" binding="tns:corePlatformWebServiceImplSoapBinding">
      <soap:address location="http://121.199.29.183:9090/sunda/service/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>